// .iconCell{
//     margin-top: 14px;
// }

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}

.fileIcon {
    font-size: large;
    color: #0c3058;
}