.table-icon-cell {
    margin-top: 14px;
}


.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
    .table-container {
        margin-bottom: 32px;
    }
    
}